.categoryNav {
  @apply grid grid-flow-col gap-3 overflow-scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.categoryNav::-webkit-scrollbar {
  display: none;
}
.categoryList {
  @apply p-5 shadow-lg rounded-lg bg-white grid gap-3;
}
.categoryListItem {
  line-height: 2;
  @apply border-b-2 border-gray-200 flex items-center gap-2 cursor-pointer;
}
