:root {
  --primary: rgb(160, 110, 206, 1);
  --secondary: rgb(255, 255, 255, 0);
}
.background-image {
  background: linear-gradient(0deg, var(--primary), var(--secondary)),
    url(../../../assets/images/background-login.png) no-repeat center center /
      cover;
  height: 100vh;
}

.form-form-register {
  width: 65%;
  @apply w-3/4 h-full;
}

.registerWraper {
  min-height: 100vh;
  @apply flex items-center;
}

.form-register {
  @apply flex-1 flex items-center justify-center;
}
.form-form-register input {
  @apply border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-xl;
}
.form-form-register label {
  @apply block mt-5;
}
.form-form-register .error {
  @apply text-sm mx-2 mt-1 mb-2  text-red-500;
}
.form-form-register .message {
  @apply p-5 my-5  text-white rounded-sm;
}
