.alertMe {
  @apply hidden absolute text-center text-lg top-[-15rem] left-1/2 translate-x-[-50%] text-white font-medium w-4/5 mx-auto rounded-md p-5 bg-green-500 z-30;
  @apply md:w-1/2;
  @apply lg:w-2/5;
}
.alertMe.active {
  @apply block;
  animation: showUp 3s linear 0s 1;
}
@keyframes showUp {
  0% {
    top: -5rem;
  }
  25% {
    top: 1.5rem;
  }
  75% {
    top: 1.5rem;
  }
  100% {
    top: -10rem;
  }
}
