.HalamanProduk {
}

.halamanProdukWraper {
  @apply flex flex-col;
  @apply md:mt-7 md:flex-row md:container md:justify-center md:mx-auto md:gap-10;
}

.imageProduct {
  @apply object-cover;
  @apply md:rounded-xl;
  height: 70vh;
}

.buttonOne {
  @apply bg-purple-400 text-white py-3 w-full flex justify-center rounded-xl mb-5;
}

.buttonTwo {
  @apply bg-white text-black border border-purple-600 w-full py-3 flex justify-center rounded-xl mb-5;
}

.profilePicture {
  width: 60px;
  height: 60px;
}
